@charset "UTF-8"

        body {
            background-color: rgb(247, 154, 15);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1{
            color: rgb(65, 18, 235);
            background-color: rgb(241, 150, 14);
        }
        h2{
            color: blueviolet;
            background-color: chartreuse;
        }
        p{
            text-align: justify;
        }
    
